<div class="dashboard-group">
  <span>
    <i class="icon-tuijian3 iconfont icon-2x " style="color:#ff696b"></i>
  </span>
  <div class="dashboard-group-heading ">
    推荐的应用
  </div>
  <div class="app-list row ">
    <div class="col-md-3 col-xs-12 col-sm-4 app-item ">
      <a href=" ">

        <span class="app-summary ">
          <span class="app-label ">应用名称</span>
          <br> 应用简介
        </span>
        <div class="app-icon ">
          <span>
            <i class="iconfont icon-yichu icon-2x" style="color: coral;"></i>
          </span>
        </div>
      </a>

    </div>

  </div>


</div>