<carousel class="hidden-xs">
    <ng-container *ngFor="let product of products">
        <slide *ngIf="product.images[0]" [routerLink]="'/fruit-client/product'" [queryParams]="{productId:product._id}">
            <cl-image [public-id]="product.images[0].public_id" class="thumbnail inline" format="jpg">
                <cl-transformation height="135" width="320" crop="crop">
                </cl-transformation>
            </cl-image>
        </slide>
    </ng-container>


</carousel>
<carousel class="visible-xs">
    <slide *ngFor="let product of products">
        <ng-container *ngIf="product.images[0]">
            <cl-image [public-id]="product.images[0].public_id" class="thumbnail inline" format="jpg">
                <cl-transformation height="180" width="320" crop="crop">
                </cl-transformation>

            </cl-image>
        </ng-container>
    </slide>

</carousel>
<div class="container" style="margin-left:auto;margin-right:auto;max-width:1170px">
    <div class="row">
        <div class="col-md-1 hidden-xs"></div>

        <div class="col-md-2 col-xs-6" *ngFor="let product of products">
            <img [src]="product.images[0]?.url" alt="" class="img-responsive">
        </div>

    </div>
</div>