.secondary-navbar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dbdbdb;
  color: #666;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1170px
}

.glyphicon {
  cursor: pointer;
}
