<div [formGroup]="form" class="field">


  <div [ngSwitch]="field.controlType">
    <label [attr.for]="field.key">{{field.label}}</label>
    <!-- text 输入框 -->
    <input type="string" *ngSwitchCase="'text'" class="form-control" [formControlName]="field.key" [id]="field.key" [type]="field.type"
      [placeholder]="field.label">
    <!-- number 输入框 -->
    <input type="string" *ngSwitchCase="'number'" class="form-control" [formControlName]="field.key" [id]="field.key" [type]="field.type"
      [placeholder]="field.label">


    <!-- 下拉选框 -->
    <select [id]="field.key" *ngSwitchCase="'select'" [formControlName]="field.key">
      <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <!-- 图片 -->
    <!--  -->
    <div *ngSwitchCase="'image'" (click)="selectImage()" class="center">
      <div class="col-xs-4">
        {{field.label}}:
        <i class="glyphicon glyphicon-picture icon-2x"></i>
      </div>
      <div class="col-xs-8">
        <!-- 隐藏输入框 -->
        <input type="text" hidden [formControlName]="field.key">
        <img [src]="field.value" alt="" class="img-responsive">
      </div>


    </div>

    <!-- 图片数组 -->
    <div *ngSwitchCase="'images'" (click)="addImage()" class="center">
      <div class="col-xs-2">
        {{field.label}}
      </div>
      <div class="col-xs-10">
        <div class="row">
          <div class="image col-xs-2" *ngFor="let image of images">
            <!-- 隐藏输入框 -->
            <input type="text" hidden [formControlName]="field.key">
            <img [src]="image" alt="" class="img-responsive">

          </div>
        </div>

      </div>


    </div>

    <!-- 选择框 -->
    <div *ngSwitchCase="'checkbox'" (click)="toggleFieldValue()">
      <button class="checkbox " [class.checked]="isChecked"></button>
      <label [attr.for]="field.key">{{field.label}}</label>
    </div>
  </div>

  <!-- <div class="errorMessage">{{field.label}} 必须</div> -->
  <alert [type]="'warning'" *ngIf="!isValid" [dismissible]="field.invalid">{{field.label}} 必填</alert>

</div>
