.float>img {
    float: left;
}

.product-offerings {
    text-align: right;
}

.product-offerings .size-selection {
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #999999;
    color: #999999;
    margin: 1px;
    font-size: 80%;
}

.product-offerings {
    text-align: right;
}

.product-offerings #buy-now-button,
.product-offerings #add-to-cart-button {
    display: inline-block;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}

.product-offerings[_ngcontent-c2] #buy-now-button[_ngcontent-c2],
.product-offerings[_ngcontent-c2] #add-to-cart-button[_ngcontent-c2] {
    display: inline-block;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}

.product-offerings #buy-now-button {
    background-color: #9dc819;
}

.product-offerings #buy-now-button {
    background-color: #85b01d;
    margin-right: 5px;
    color: white;
    font-weight: bolder;
    border: 0;
}

.product-offerings #buy-now-button,
.product-offerings #add-to-cart-button {
    display: inline-block;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}

.product-offerings #add-to-cart-button {
    background-color: #9c2b27;
}

.product-offerings #add-to-cart-button {
    background-color: #390c20;
    color: white;
}

.product-offerings #buy-now-button,
.product-offerings #add-to-cart-button {
    display: inline-block;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}

.product-count,
#action-buttons {
    margin-top: 10px;
}

.size-selection.selected {
    background-color: #9dc819 !important;
    border: 1px solid #9dc819;
}

offerings .product-count-container .product-count {
    margin: 0 5px;
    text-align: center;
}

.product-offerings .product-count-container input {
    width: 50px;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

* {
    box-sizing: border-box;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input,
textarea,
select,
button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

input,
textarea,
select,
button,
meter,
progress {
    -webkit-writing-mode: horizontal-tb;
}