<!-- 确认订单 -->

<ng-template #orderConfirm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">确认订购?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    确认订购{{product.name}}吗?
  </div>
  <div class="modal-footer">
    <div class="btn btn-primary">加入购物车</div>
    <div class="btn btn-danger" (click)="submitOrder();bsRef.hide();">直接订购</div>
    <button type="button" class="btn btn-default" (click)="bsRef.hide()">关闭</button>
  </div>

</ng-template>

<!-- 订单确认 后 提示到 我的订单中查看 -->
<ng-template #remindModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">恭喜</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    快到购物车里看看吧
  </div>
  <div class="modal-footer">
    <div class="btn btn-danger" (click)="goShopingCar();bsRef.hide();">确认</div>
    <button type="button" class="btn btn-default" (click)="bsRef.hide()">关闭</button>
  </div>

</ng-template>

<div class="row">
  <div class="col-md-offset-3 col-sm-offset-3  col-md-10 col-sm-9 product-set-container-column">
    <!-- /wangting--这个地方判断产品如果是黑森林，就让超链接到活动界面 -->

    <div class="hidden-xs">
      <div class="swiper-container gallery-top swiper-container-horizontal swiper-container-fade" style="margin-bottom: 15pt; cursor: -webkit-grab;">
        <div class="swiper-wrapper" style="transition-duration: 0ms;">
          <img alt="惊叹雪房子蛋糕" class="swiper-slide img-responsive" src="https://www.pantrysbest.com/system/product_set_images/images/000/000/486/original/%E6%83%8A%E5%8F%B9%E9%9B%AA%E6%88%BF%E5%AD%90%E8%AF%A6%E6%83%85%E5%9B%BE1.jpg?1512392174"
            style="width: 778px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
        </div>
      </div>
      <div class="swiper-container gallery-thumbs swiper-container-horizontal" style="cursor: -webkit-grab;">
        <div class="swiper-wrapper row" style="transition-duration: 0ms;">
          <img alt="惊叹雪房子蛋糕" class="swiper-slide img-responsive  col-lg-2  col-md-2 col-sm-2" src="https://www.pantrysbest.com/system/product_set_images/images/000/000/486/original/%E6%83%8A%E5%8F%B9%E9%9B%AA%E6%88%BF%E5%AD%90%E8%AF%A6%E6%83%85%E5%9B%BE1.jpg?1512392174"
            style="width: 143.6px; margin-right: 15px;">
          <img alt="惊叹雪房子蛋糕" class="swiper-slide img-responsive col-lg-2  col-md-2 col-sm-2" src="https://www.pantrysbest.com/system/product_set_images/images/000/000/486/original/%E6%83%8A%E5%8F%B9%E9%9B%AA%E6%88%BF%E5%AD%90%E8%AF%A6%E6%83%85%E5%9B%BE1.jpg?1512392174"
            style="width: 143.6px; margin-right: 15px;">
          <img alt="惊叹雪房子蛋糕" class="swiper-slide img-responsive col-lg-2  col-md-2 col-sm-2" src="https://www.pantrysbest.com/system/product_set_images/images/000/000/486/original/%E6%83%8A%E5%8F%B9%E9%9B%AA%E6%88%BF%E5%AD%90%E8%AF%A6%E6%83%85%E5%9B%BE1.jpg?1512392174"
            style="width: 143.6px; margin-right: 15px;">
        </div>
      </div>
    </div>


    <div class="row" *ngIf="product">
      <div class="col-md-5">
        <h3>{{product.name}}</h3>
        <div class="long-description">

          <p>{{product.summary}}</p>

          <p>
            <strong>
              <span style="font-size: 12px;">
                <!-- <span style="color: rgb(255, 0, 0);">2017年12月29日-2018年1月3日，活动期间购买指定蛋糕（大都会红丝绒／红丝绒圆舞曲蛋糕／黑森林蛋糕／荔枝玫瑰蛋糕／树莓红丝绒蛋糕／惊叹雪房子蛋糕／圣诞倾倒红帽草莓蛋糕）可赠送中号红丝绒纸杯蛋糕1个。 -->
                <!-- <br> ＊圣诞倾倒红帽草莓蛋糕限华东区域售卖 -->
                <!-- <br> ＊此活动不与优惠券码及其他优惠活动同享，不支持礼品卡支付 -->
                <!-- </span> -->
              </span>
            </strong>
          </p>

        </div>
        <div class="ingredients">
          <!-- <div class="ingredients-header">口味亮点</div> -->
          <div class="ingredients-description">
            <!-- 乳脂奶油、奶油奶酪、法国黄油、生姜汁 -->

          </div>
        </div>


      </div>


      <div data-react-class="ProductSet" style="margin-left:-10%">
        <div class="col-md-5 product-offerings">
          <div class="product-sizes">
            <!-- <span class="selected size-selection" style="color:#fff">6吋</span> -->
          </div>
          <div class="product-count">
            <div class="product-count-container">
              <span id="product-price">¥{{product?.price}}</span>
              <span class="fa fa-minus btn btn-default" (click)=" orderNum>0?orderNum=orderNum-1:orderNum=0 ">-</span>
              <!-- <input id="product-count" > -->
              {{orderNum}}
              <span class="fa fa-plus btn btn-default" (click)="orderNum=orderNum+1">+</span>
            </div>
            <div id="action-buttons">
              <div id="buy-now-button" (click)="showConfirmModal(orderConfirm)">立即购买</div>
              <div id="add-to-cart-button">
                <span class="fa fa-shopping-cart"></span>
                <span data-reactid=".0.2.1.1.1" (click)="addShopCard(remindModal)">加入购物车</span>
              </div>
            </div>
            <div id="action-completed-status"></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>