<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Title!</strong> Alert body ...
</div>
<div class="auth-box" *ngIf="state==Views.Login">
  <h1 class="u-hidden-visually">
    <!-- react-text: 6 -->
    <!-- /react-text -->
    <!-- react-text: 7 -->
    <!-- /react-text -->
  </h1>
  <div class="auth-box__inner">
    <div class="auth-box__col">
      <div class="auth-box__brand">
        <a class="auth-box__brand__logo red">
          爱软件.com
          <i class="glyphicon glyphicon-heart"></i>
        </a>
      </div>
    </div>
    <div class="auth-box__col">

      <div class="FormField_7l2zw7" for="email">
        <label for="email" class="FormLabel_whyo7j">用户名</label>
        <input type="text" [(ngModel)]="admin.phone" placeholder="手机号" class="FormInput_1vxy8pn">
      </div>
      <div class="FormField_7l2zw7" for="password">
        <label for="password" class="FormLabel_whyo7j">密码</label>
        <input type="password" [(ngModel)]="admin.password" class="FormInput_1vxy8pn">
      </div>
      <button type="submit" class="btn btn-primary" (click)="signin()">登陆 </button>
      <button type="submit" class="btn btn-primary" (click)="state=Views.Signup">注册 </button>


    </div>
  </div>
</div>
<div class="auth-box" *ngIf="state==Views.Signup">
  <h1 class="u-hidden-visually">

  </h1>
  <div class="auth-box__inner">
    <div class="auth-box__col">
      <div class="auth-box__brand">
        <a class="auth-box__brand__logo red">
          爱软件.com
          <i class="glyphicon glyphicon-heart"></i>
        </a>
        <a (click)="state=Views.Login"> 返回登录</a>
      </div>
    </div>
    <div class="auth-box__col">
      <div class="FormField_7l2zw7" for="email">
        <label for="email" class="FormLabel_whyo7j">昵称</label>
        <input type="string" placeholder="昵称" class="FormInput_1vxy8pn" [(ngModel)]="admin.nickname">
      </div>

      <div class="FormField_7l2zw7" for="email">
        <label for="email" class="FormLabel_whyo7j">手机号</label>
        <input type="string" placeholder="手机号" class="FormInput_1vxy8pn" [(ngModel)]="admin.phone">
      </div>

      <div class="FormField_7l2zw7">
        <label for="password" class="FormLabel_whyo7j">密码</label>
        <input type="password" [(ngModel)]="admin.password" class="FormInput_1vxy8pn">
      </div>
      <div class="FormField_7l2zw7" for="password">
        <label for="password" class="FormLabel_whyo7j">确认密码</label>
        <input type="password" [(ngModel)]="admin.repassword" class="FormInput_1vxy8pn">
      </div>

      <button type="submit" class="btn btn-primary" (click)="signup()">注册 </button>



    </div>
  </div>
</div>
