.pantry-brown-button {
    background-color: #9c2b27;
  }

  .pop_city_select .pc-content .current_city {
    background-color: #9c2b27;
  }

  .pop_city_select .setup_current_city {
    background-color: #9c2b27;
  }

  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
    background-color: #9c2b27;
  }

  #toggle-mobile-dropdown-nav.expanded {
    background-color: #9c2b27;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #9c2b27;
  }


  .product-category-product-set-item .product-set-item-info-container .product-set-item-info-inner-container .product-set-header {
    color: #9c2b27;
  }

  .detailed-product-set-info-container h3 {
    color: #9c2b27;
  }

  .detailed-product-set-info-container .more-detailed-info .bold-header {
    color: #9c2b27;
  }

  .detailed-product-set-info-container .long-description {
    color: #9c2b27;
  }

  #user-container .title {
    color: #9c2b27;
  }

  #user-container .input_label {
    color: #9c2b27;
  }

  .crm-container {
    color: #9c2b27;
  }

  .crm-container .crm-left-container .sidebar-tab a {
    color: #9c2b27 !important;
  }

  .detailed-product-set-info-container .sweetness_content {
    border-top: 1px solid #9c2b27;
  }

  .detailed-product-set-info-container .divider {
    background-color: #9c2b27;
  }

  .product-offerings #add-to-cart-button {
    background-color: #9c2b27;
  }

  .shopping-cart-info-content {
    color: #9c2b27;
  }

  #v2-shopping-cart-container {
    color: #9c2b27;
  }

  #v2-shopping-cart-container .product-list-title {
    background-color: #9c2b27;
  }

  .user-sidebar-column .user-sidebar-tab a.selected {
    background-color: #9c2b27;
  }


  .user-sidebar-column .user-sidebar-tab a {
    color: #9c2b27 !important;
  }


  .submit-button {
    background-color: #9c2b27;
  }

  .delivery-tr select {
    color: #9c2b27;
  }

  .v2-orders-collection-container .info-title {
    color: #9c2b27;
  }

  .v2-orders-collection-container .current-orders-container .order-list-title {
    background-color: #9c2b27;
  }

  .crm-container .crm-right-container .list-title .icon {
    background-color: #9c2b27;
  }

  .shop-container {
    color: #9c2b27;
  }

  .base-pop .pop-brown-button {
    background-color: #9c2b27;
  }

  .sell-container {
    color: #9c2b27;
  }

  .login-header {
    color: #9c2b27;
  }

  .mobile-nav {
    color: #9c2b27;
  }

  #login-button,
  #signup-button {
    background-color: #9c2b27;
  }

  .store-container {
    color: #9c2b27;
  }

  .month-tab a.selected {
    background-color: #9c2b27;
  }

  .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
  }

  .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
  }

  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
  }

  .mobile-header-nav .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
  }

  .middle-nav-ul-li {
    color: #fff;
  }

  .navbar-default .navbar-nav>li>a {
    color: #fff;
  }

  #toggle-mobile-dropdown-nav {
    color: #fff;
  }

  .mobile-header-nav a.mb-locale-icon {
    color: #fff;
  }

  .navbar-default .navbar-nav>li>a.pc-locale-icon {
    color: #fff;
  }

  .product-category .tab {
    color: #fff;
    background-color: #390C20;
  }

  .pantry-green-title {
    color: #9dc819;
  }

  .product-offerings .size-selection.selected {
    background-color: #9dc819 !important;
    border: 1px solid #9dc819;
  }

  .product-offerings #buy-now-button {
    background-color: #9dc819;
  }

  .shopping-cart-info-content .goto-cart-button {
    background-color: #9dc819;
  }

  .order-payment {
    background-color: #9dc819;
  }

  .ui-step-green .step-active .ui-step-cont-number {
    background-color: #9dc819;
  }

  .ui-step-green .step-done .ui-step-line {
    background-color: #9dc819;
  }

  .ui-step-green .step-done .ui-step-cont-number {
    background-color: #9dc819;
  }

  .crm-container .crm-right-container .base-point-bg .base-point {
    background-color: #9dc819;
  }

  .pantry-green-button {
    background-color: #9dc819;
  }

  .sign-up-button {
    background-color: #9dc819;
  }

  .redeem-btn {
    background-color: #9dc819;
  }

  .mobile-nav-active {
    background-color: #9dc819;
    color: #fff;
  }


  .shopping-cart-coupon-list .shopping-cart-coupon-content .coupon-btn {
    background-color: #9dc819;
    border-color: #9dc819;
    color: #fff;
  }

  .product-category .tab.selected {
    color: #ffffff;
    background-color: #9dc819;
  }

  .product-category-product-set-item .product-set-item-info-container .shopping-cart-icon-container .add-cart-button {
    background-image: url(/system/ad_images/pc_images/000/000/012/original/%E7%82%B9%E5%87%BB%E5%89%8D%E8%B4%AD%E7%89%A9%E8%BD%A6.png?1508378865);
  }

  .product-category-product-set-item .product-set-item-info-container .shopping-cart-icon-container .add-cart-button:hover {
    background-image: url(/system/ad_images/mobile_images/000/000/012/original/%E8%B4%AD%E7%89%A9%E8%BD%A6.png?1512129083);
  }

  .shopping-cart-button {
    background-image: url(/system/ad_images/pc_images/000/000/012/original/%E7%82%B9%E5%87%BB%E5%89%8D%E8%B4%AD%E7%89%A9%E8%BD%A6.png?1508378865);
  }

  .shopping-cart-button:hover {
    background-image: url(/system/ad_images/mobile_images/000/000/012/original/%E8%B4%AD%E7%89%A9%E8%BD%A6.png?1512129083);
  }

  .product-category .tab {
    background-image: url(/system/ad_images/pc_images/000/000/011/original/%E7%82%B9%E5%87%BB%E5%89%8DButton.png?1508378842);
  }

  .product-category .tab.selected {
    background-image: url(/system/ad_images/mobile_images/000/000/011/original/Button.png?1512128878);
  }

  .left-title-content {
    color: #9c2b27;
  }

  .left-title-content .left-title {
    border-bottom: 1px solid #9c2b27;
  }

  @media (min-width: 768px) {
    .navbar-default {
      background-color: #9c2b27;
      border-color: #9c2b27;
    }

    .shop-container .current_points {
      color: #9c2b27;
    }

    .shop-container .point_title {
      color: #9c2b27;
    }
  }

  @media (max-width: 767px) {

    .mobile-header-nav a {
      color: #9c2b27;
    }

    #mobile-header-nav .navbar-header {
      background-color: #9c2b27;
    }

    #toggle-mobile-dropdown-nav {
      background-color: #9c2b27;
    }
    .navbar-default #mobile-navbar-right {
      background-color: #9c2b27;
    }

    .shopping-cart-items-count {
      background-color: #9dc819;
    }

    .navbar-default #mobile-header-nav .navbar-nav {
      margin: 0px -15px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff;
    }

  }

  @media (min-width: 768px) {
    .footer {
      background-image: url(/system/ad_images/pc_images/000/000/013/original/UI-14.png?1512128911);
      background-size: 100% 122px;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: 767px) {
    .footer {
      background-image: url(/system/ad_images/mobile_images/000/000/013/original/UI-24.png?1512128911);
      background-size: 100% 70px;
      background-repeat: no-repeat;
    }
  }
  .nav>li>a {
    padding-right: 0px;
    padding-left: 0px;
  }

  .middle-nav-ul-li {
    margin: 0 10px
  }

  #sign-up-item {
    margin-right: 20px;
  }

  #sign-in-item {
    margin-right: 20px;
  }

  @media (max-width: 767px) {
    .nav>li>a {
      padding-right: 15px;
      padding-left: 15px;
    }

    #sign-up-item {
      margin-right: 0px;
      padding-left: 5px;
    }

    #sign-in-item {
      margin-right: 0px;
      padding-left: 5px;
    }

  }